{% extends 'base.html.twig' %}

{% block title %}Processus index{% endblock %}

{% block body %}
    <h1>Processus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Datecreation</th>
                <th>Libprocessus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for processu in processuses %}
            <tr>
                <td>{{ processu.id }}</td>
                <td>{{ processu.nom }}</td>
                <td>{{ processu.datecreation ? processu.datecreation|date('Y-m-d') : '' }}</td>
                <td>{{ processu.libprocessus }}</td>
                <td>
                    <a href="{{ path('app_processus_show', {'id': processu.id}) }}">show</a>
                    <a href="{{ path('app_processus_edit', {'id': processu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_processus_new') }}">Create new</a>
{% endblock %}
